@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <address>
        Blvd. Partizanski Odredi<br />
        Skopje, 1000<br />
        <abbr title="Phone">Phone:</abbr>
        075/500-000
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:filipsam789@gmail.com">filipsam789@gmail.com</a><br />
    </address>
</main>