@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Booking Application</h1>
        <p class="lead">
            Wanderlust days <br />
            and cozy nights <br />
            Choose from cabins, houses, and more
        </p>
        <p><a href="/Listings/Search" class="btn btn-primary btn-md">Begin your search &raquo;</a></p>
    </section>
</main>